.App {
  text-align: center;
  background-color: #ece8ac;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(61, 61, 61);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search-Form {
  min-height: 60vh;
	align-items: center;
	gap: 8px;
	width: 300px;
	flex-wrap: wrap;
  padding: 4;
  border-radius: 4px;
}